@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/* common class */
.btn{
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 50px;
    padding: 21px 24px;
    background-color: #ff900e;
    border: none;
    border-radius: 8px;
}

header{
    max-width: 1920px;
    margin: 0 auto;
    padding: 50px 240px 45px 228px;
    background-color: #ff8f0e17;
}
main{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 240px 0 228px;
}


/* navbar design start */

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h2{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: #727272;
}

/* navbar design finished */

/* banner section design start */

header #banner .bnr-txt{
    text-align: center;
}

header #banner .bnr-txt h1{
    font-size: 63px;
    color: #131313;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 102px;
}

header #banner .bnr-txt p{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 32px;
}

header #banner .bnr-img{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 750px;
}

/* banner section design finished */

/* features section design start */

main #features{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 73px;
    margin-top: 85px;
}

main #features .features-img-div{
    display: grid;
    grid-template-columns: repeat(2,342px);
    grid-template-rows: repeat(2,342px);
    gap: 24px;
}

main #features .features-img-div img{
    border-radius: 8px;
}

main #features .features-txt-div{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main #features .features-txt-div h2{
    font-size: 45px;
    color: #727272;
    font-weight: 500;
    margin-bottom: 24px;
}

main #features .features-txt-div h2 .spn-1{
    color: #131313;
    font-weight: bold;
}

main #features .features-txt-div h2 .spn-2{
    color: #ff900e;
    font-weight: bold;
}

main #features .features-txt-div p{
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

/* features section complete */

/* love & enjoy section start */

main #love-and-enjoy{
display: flex;
justify-content: space-between;
align-items: center;
gap: 146px;
margin-top: 130px;
width: 100%;
}

main #love-and-enjoy .love-and-enjoy-txt-div .nrml-txt h1{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
    border-left: 8px solid #ff900e;
    padding-left: 21px;
    margin-bottom: 24px;
}

main #love-and-enjoy .love-and-enjoy-txt-div .nrml-txt p{
    font-size: 16px;
    color: #727272;
    line-height: 26px;
    margin-bottom: 30px;
}

main #love-and-enjoy .love-and-enjoy-txt-div .card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px; 
}

main #love-and-enjoy .love-and-enjoy-txt-div .card-container .card{
    border-radius: 8px;
    box-shadow:  0px 0px 15px #7272722a;
    padding: 30px 42px 30px 33px;
}

main #love-and-enjoy .love-and-enjoy-txt-div .card-container .card h3{
    font-size: 20px;
    font-weight: 600;
    color: #131313;
    margin-bottom: 10px;
}

main #love-and-enjoy .love-and-enjoy-txt-div .card-container .card p{
    font-size: 16px;
    color: #727272;
    line-height: 26px;
}

main #love-and-enjoy .love-and-enjoy-img-div button{
    font-size: 65px;
    line-height: 70px;
    color: white;
    font-weight: bold;
    background-color: #ff900e;
    margin: -150px 0 0 -100px;
    border: none;
    border-radius: 8px;
    padding: 45px 38px 42px;
}

main #love-and-enjoy .love-and-enjoy-img-div button span{
    display: block;
    font-size: 25px;
    line-height: 40px;
    font-weight: 500;
}

/* love & enjoy section end */

/* Some facts section start */
main #some-facts .some-facts-txt-div h2{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
    margin-bottom: 24px;
    margin-top: 130px;
}

main #some-facts .some-facts-txt-div p{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 100px;
}

main #some-facts .some-facts-card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    padding-left: 45px;
}

main #some-facts .some-facts-card-container .card{
    text-align: center;
    border: 1px solid #ff8f0e8e;
    border-radius: 8px;
    padding: 45px 36px 60px;
    width: 242px;
}

main #some-facts .some-facts-card-container .card h3{
    font-size: 45px;
    font-weight: 600;
    color: #424242;
    margin: 5px 0;
}

main #some-facts .some-facts-card-container .card p{
    font-size: 20px;
    font-weight: 600;
    color: #727272;
}
/* Some facts section end */