@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/* common class */
.btn{
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 50px;
    padding: 21px 24px;
    background-color: #ff900e;
    border: none;
    border-radius: 8px;
}

header{
    max-width: 1920px;
    margin: 0 auto;
    padding: 50px 240px 45px 228px;
    background-color: #ff8f0e17;
}

/* navbar design start */

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h2{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: #727272;
}

/* navbar design finished */

/* banner section design start */

header #banner .bnr-txt{
    text-align: center;
}

header #banner .bnr-txt h1{
    font-size: 63px;
    color: #131313;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 102px;
}

header #banner .bnr-txt p{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 32px;
}

header #banner .bnr-img{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 750px;
}

/* banner section design finished */